<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.xmi"
            id="fr.cs.info.sl.microc2isa.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="fr.cs.info.sl.microc2isa.ui.popupMenus.AcceleoGenerateMicroC2IsaAction"
               enablesFor="+"
               id="fr.cs.info.sl.microc2isa.ui.popupMenus.acceleoGenerateMicroC2IsaAction"
               icon="icons/default.gif"
               label="Generate MicroC2Isa"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="fr.cs.info.sl.microc2isa.ui.popupMenus.contribution.IFile"
            nameFilter="*.c"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.acceleo.module.menu"
               label="Acceleo Model to Text"
               path="additionsAcceleo">
            <groupMarker
                  name="acceleo">
            </groupMarker>
         </menu>
         <action
               class="fr.cs.info.sl.microc2isa.ui.popupMenus.AcceleoGenerateMicroC2IsaAction"
               enablesFor="+"
               icon="icons/default.gif"
               id="fr.cs.info.sl.microc2isa.ui.popupMenus.acceleoGenerateMicroC2IsaAction"
               label="Generate MicroC2Isa"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo">
         </action>
      </objectContribution>
   </extension>
</plugin>
